<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- log4net configuration -->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSection, log4net" />
	</configSections>

	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="C:\Logs\MyApp\logfile.txt" />
			<appendToFile value="true" />
			<rollingStyle value="RollingFile" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>

	
	<connectionStrings>
		<add name="ENCAPdb" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\DbFile\ENCAPdb.mdf;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="Value1" value="admin" />
		<add key="Value2" value="encap!" />
		<add key="Timer" value="600000" /> 
		<add key="DbTimer" value="5000" /> 
	</appSettings>


	  
</configuration>

