<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyModbusTCP" version="5.6.0" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="log4net" version="2.0.17" targetFramework="net48" />
  <package id="MetroSet_UI" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1652.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="NLog" version="5.3.3" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.15" targetFramework="net48" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net48" />
</packages>